In [2]:
import pandas as pd

In [13]:
data=pd.read_csv("data.csv")
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [14]:
x=pd.DataFrame(data["YearsExperience"])
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [15]:
y=pd.DataFrame(data["Salary"])
y.head()

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

In [16]:
!pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\anaconda\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: scipy>=0.19.1 in c:\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: numpy>=1.13.3 in c:\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\anaconda\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=7b271704c432b0d2e16c667c38ef2370ce65c3d263487593c1611211de5b03c6
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=5)

In [19]:
print(x_train)

    YearsExperience
28             10.3
0               1.1
17              5.3
5               2.9
1               1.3
27              9.6
12              4.0
20              6.8
19              6.0
24              8.7
7               3.2
4               2.2
8               3.2
9               3.7
16              5.1
22              7.9
6               3.0
15              4.9
14              4.5
3               2.0

In [20]:
print(x_test)

    YearsExperience
11              4.0
29             10.5
23              8.2
25              9.0
18              5.9
10              3.9
2               1.5
13              4.1
26              9.5
21              7.1

In [21]:
data.shape

(30, 2)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
a=LinearRegression()

In [24]:
a.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred=a.predict(x_test)

In [26]:
y_pred

array([[ 64187.4250843 ],
       [124072.91801685],
       [102882.66667149],
       [110253.18887857],
       [ 81692.41532612],
       [ 63266.10980841],
       [ 41154.54318717],
       [ 65108.74036019],
       [114859.765258  ],
       [ 92748.19863675]])

In [27]:
y_test

      Salary
11   55794.0
29  121872.0
23  113812.0
25  105582.0
18   81363.0
10   63218.0
2    37731.0
13   57081.0
26  116969.0
21   98273.0

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test,y_pred)

0.9598549567891836